.piano {
    display: flex;

    .note {
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0;
        &.white {
            height: 8em;
            width: 2em;
            border: 1px solid #ccc;
            z-index: 1;

            &.pressed {
                background-color: cadetblue;
            }
        }

        &.black {
            height: 5em;
            width: 1em;
            margin: 0 -0.5em;
            background: #000;
            z-index: 2;
            border: 1px solid black;
            border-top: 1px solid #ccc;
            box-sizing: border-box;

            &.pressed {
                background-color: cadetblue;
            }
        }
    }
}
